*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  /*Box shadow layered */
  --box-shadow-1: 0 2px 2px rgba(0, 0, 0, 0.021);
  --box-shadow-2: 0 4px 4px rgba(0, 0, 0, 0.021);
  --box-shadow-3: 0 8px 8px rgba(0, 0, 0, 0.021);
  --box-shadow-4: 0 16px 16px rgba(0, 0, 0, 0.021);
  --box-shadow-5: 0 32px 32px rgba(0, 0, 0, 0.021);

  --box-shadow-layered: var(--box-shadow-1), var(--box-shadow-2),
    var(--box-shadow-3), var(--box-shadow-4), var(--box-shadow-5);
}

@font-face {
  font-family: "Manrope";
  src: url("./article-preview-component-master/Manrope/Manrope-VariableFont_wght.ttf")
    format("truetype");
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 4em;
  font-family: "Manrope";
  font-size: 13px;
}

h2,
h3,
p {
  line-height: 1.3;
  letter-spacing: 1.5;
}

p,
span {
  font-size: clamp(0.813rem, 0.658rem + 0.657vw, 1.25rem);
  color: hsl(214, 17%, 51%);
}

img,
picture,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: clamp(200px, 50vw, 400px);
  border-radius: 1em;
  box-shadow: var(--box-shadow-layered);
  overflow: hidden;
}

.container__info {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1em;
}


.main__header {
  font-size: (2rem, 2vw, 4rem);
  color: hsl(217, 19%, 35%);
}

.user{
  display:flex;
  flex-direction: column;
  gap: 0.2em;
}

.bottom {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.avatar {
  max-width: 4em;
  border-radius: 50%;
}

.share {
  margin-left: auto;
  background: hsl(210, 46%, 95%);
  padding: 0.55em;
  border-radius: 50%;
}

.invisible {
  display: none;
}
