*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  /*Box shadow layered */
  --box-shadow-1: 0 2px 2px rgba(0, 0, 0, 0.021);
  --box-shadow-2: 0 4px 4px rgba(0, 0, 0, 0.021);
  --box-shadow-3: 0 8px 8px rgba(0, 0, 0, 0.021);
  --box-shadow-4: 0 16px 16px rgba(0, 0, 0, 0.021);
  --box-shadow-5: 0 32px 32px rgba(0, 0, 0, 0.021);

  --box-shadow-layered: var(--box-shadow-1), var(--box-shadow-2),
    var(--box-shadow-3), var(--box-shadow-4), var(--box-shadow-5);
}

@font-face {
  font-family: "Manrope";
  src: url("./article-preview-component-master/Manrope/Manrope-VariableFont_wght.ttf")
    format("truetype");
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 4em;
  font-family: "Manrope";
  font-size: 13px;
}

li {
  list-style-type: none;
}

h2,
h3,
p {
  line-height: 1.3;
}

p,
span {
  font-size: clamp(0.813rem, 0.658rem + 0.657vw, 1.25rem);
  color: hsl(214, 17%, 51%);
}

img,
picture,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: clamp(300px, 60vw, 450px);
  border-radius: 1em;
  box-shadow: var(--box-shadow-layered);
  overflow: hidden;
  
}

.container__info {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 2em;
  position: relative;
}

.main__header {
  font-size: (3rem, 7vw, 6rem);
  color: hsl(217, 19%, 35%);
}

.article.active {
  margin-block-end: 4em;
}

.content {
  display: flex;
  align-items: center;
  gap: 1em;
}

.user {
  display: flex;
  flex-direction: column;
  gap: 0.2em;
  color: hsl(217, 19%, 35%);
}

.username {
  font-weight: bold;
}

.avatar {
  width: 3em;
  border-radius: 50%;
}

.bottom {
  display: flex;
  align-items: center;
}

.btn {
  margin-inline-start: auto;
  border-radius: 50%;
  border: none;
  padding: 1em;
  cursor: pointer;

}

.link-img {
  width: 30px;
  height: 30px;
}

.btn:hover {
  background: hsl(212, 23%, 69%);
}

.share {
  display: none;
}

.bottom.active {
  background: hsl(217, 19%, 35%);
  position: absolute;
  width: 100%;
  left: 0px;
  bottom: 0px;
  padding: 1em;
  transition: 0.5s ease-in;
}
.bottom.active .share {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-right: auto;
}

.bottom.active .default {
  display: none;
}

.share span {
  letter-spacing: 5px;
  text-transform: uppercase;
}

.link-container {
  display: flex;
  flex-shrink: 0;
  gap: 1em;
}

@media screen and (min-width: 1000px) {
  .container {
    display: flex;
    width: clamp(600px, 70vw, 1000px);
  }

  .container__info{
    gap: 2em;
  }

  .drawer{
    height: 100%;
  }

  .img__wrapper{
    width: 100%;

  }
}
